<!DOCTYPE html>
<html lang="en-US">

<body>
  <center>
    <h2>STOCKMASTER360</h2>
    <div id="piechart"></div>
    <div id="linechart"></div>
    <form action="/search" method="post">
      Stock Ticker:
      <input type="text" name="ticker">
      <input type="submit" value="Search">
    </form>
    <ul id="messages"></ul>
    <form action="" id="chat">
      <input id="m" autocomplete="off" />
      <button>Send</button>
    </form>
  </center>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript">
    $(function () {
      var socket = io();
      $('#chat').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
      });
    });
    // Load google charts
    google.charts.load('current', {
      'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawPieChart);
    google.charts.setOnLoadCallback(drawLineChart);

    // Draw the chart and set the chart values
    function drawPieChart() {
      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Open', parseFloat(<%= JSON.stringify(quotes[0].open) %>)],
        ['Close', parseFloat(<%= JSON.stringify(quotes[0].close) %>)],
        ['High', parseFloat(<%= JSON.stringify(quotes[0].high) %>)],
        ['Low', parseFloat(<%= JSON.stringify(quotes[0].low) %>)],
      ]);

      // Optional; add a title and set the width and height of the chart
      var options = {
        'title': '<%= ticker %>',
        'width': 200,
        'height': 200
      };

      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }

    function drawLineChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Dogs');
      data.addColumn('number', 'Cats');

      data.addRows([
        [0, 10, 20],
        [10, 20, 40],
        [20, 30, 10]
      ]);

      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Price'
        },
        'width': 200,
        'height': 200
      };

      var chart = new google.visualization.LineChart(document.getElementById('linechart'));
      chart.draw(data, options);
    }
  </script>

</body>

</html>
